@use "../abstract/" as *;
@use "../base/" as *;


.blog {
    height: 107.5em;
    &__more {
        padding-top: 3rem;
        margin-left: 13.5rem;
        display: flex;
        flex-direction: column;
        img {
            display: flex;
            max-width: 55rem;
            justify-content: center;
            border-radius: 2rem;
            margin-bottom: 2.5rem;
        }
        h3 {
            font-size: 30px;
            font-weight: 600;
        }
        p {
            max-width: 55.8rem;
            margin-bottom: 2rem;
        }
    }
    &__wrapper {
        a {
            margin-left: 13.2rem;
        }
    }
    
}